<?xml version="1.0" ?>
<launch>
  <!--   <arg name="robot_ip" />
  <arg name="load_gripper" default="true" />
  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" default="172.16.0.2" />
    <arg name="load_gripper" default="true" />
  </include>

  <rosparam command="load" file="$(find pbal)/config/ros_controllers.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="cartesian_impedance_controller"/> -->
    
  <!--   <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_interface)/launch/rviz/franka_description_with_marker.rviz"/> -->
  <!--   <node name="line_ee_pose_in_world_from_camera" pkg="pbal" type="line_ee_pose_in_world_from_camera.py" respawn="true"> </node> -->

  <!-- BOTH NODES BELOW COMMENTED OUT BY NEEL (01/24/20) -->
  <!--   <node name="ee_apriltag_pose_in_world_from_camera" pkg="pbal" type="ee_apriltag_pose_in_world_from_camera.py" respawn="true"> </node> -->
<!-- 
  <node name="obj_apriltag_pose_in_world_from_camera" pkg="pbal" type="obj_apriltag_pose_in_world_from_camera.py" respawn="true" >
  </node> -->

  <node name="ft_sensor_in_base_and_end_effector_frame" pkg="pbal" type=  "ft_sensor_in_base_and_end_effector_frames.py" respawn="true" >
  </node>

  <node name="ee_pose_in_world_from_franka" pkg="pbal" type="ee_pose_in_world_from_franka.py" respawn="true" >
  </node>

  <node pkg="tf" type="static_transform_publisher" name="world_to_camera" args="5.06423387e-01 6.15130675e-01 1.47602280e-01 -7.77802963e-03 -7.01780459e-01 7.12291922e-01 9.16006536e-03
   base /camera_color_optical_frame 100" />
  
  <!--- face center in april tag -->
  <node pkg="tf" type="static_transform_publisher" name="panda_hand_in_apriltag_frame" args=" 0 -0.0128 0 1.5708 -1.5708 0 /ee_apriltag_in_world /panda_hand_from_camera 100" />

</launch>
